<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="verySimpleBean" 
		class="br.com.jm.spring.ioc.beans.VerySimpleBean">
		
		<!-- uma forma de se fazer inject -->
		<!-- 
		<property name="verySimpleProperty" value="first way" />
		 -->
		 
		<!-- segunda forma de se fazer inject -->
		<property name="verySimpleProperty">
			<value>New value, injected in another way!</value>
		</property>
		
	</bean>

</beans>